{% extends 'partials/bodyindex.html' %}
{% load static %}
{% block contenido %}

<main class="main">
      <div class="contenedorMain p-5 ">
        <div id="carouselExampleControls" class="carousel slide border-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active img">
              <img class="imgCarousel" src="{% static './img/botso3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="imgCarousel" src="{% static './img/cabezas.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="imgCarousel" src="{% static './img/cabezas.jpg' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
        <marquee><p class="marqueeTxt">Mujeres Totenses Tejiendo Sueños</p></marquee>
      </div>
      
</main>
{% endblock contenido %}

