{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %} Equipo {% endblock title %}
{% load static %}
{% block contenido %}

<div class="container">
  <div class="row ">
    <a href=" {% url 'factura-tfactura' %}" class="btn d-flex justify-content-center " alt="Marca"  title="Regresar"
      style=" margin-top: 25px; margin-bottom: 25px; width: 65px; ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class=" opcionesTabla bi bi-arrow-left-square-fill  "
        viewBox="0 0 16 16">
        <path
          d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
      </svg>
    </a>
    
  </div>
  <div class="row p-1">
    <div class="col-md-4">
      <div class="border bg-white p-3">
        <h4 class="text-center">Agregar productos </h3>
        <h5 class="my-2"> Factura N°{{factura.id}}</h5>
        <h5 class="my-2"> Rol = {{factura.rol}}</h5>
        <h5 class="my-2">Usuario = {{factura.usuario}}</h5>
        <form action="" method="POST">


          {% csrf_token %}
          <div id="div_id_producto" class="mb-3"> <label for="id_producto" class="form-label requiredField">
              Producto<span class="asteriskField">*</span>
            </label>
            <select name="producto" class="select form-select" required="" id="select2">
              <option value="" selected="">---------</option>
              {% for producto in productos %}
              <option value="{{producto.id}}">{{producto}}</option>
              {% endfor %}
            </select>
          </div>
          {{ form|crispy }}
          <input class="btn btn-success btn-block " type="submit" Value="Agregar a la Factura">
          <a class="btn btn-danger btn-block text-light"
            href="{% url 'factura_estado' pk=factura.id estado='cerrar' %}">Cerrar Factura</a>
        </form>
      </div>
    </div>

    <div class="col-md-8 p-4 bg-tabla">
      <p class="txtMainI">Factura {{factura.id}}</p>
      <table class="table bg-white table-bordered results" id="tabla">
        <thead class="theadtable">
          <tr class="text-white">
            <th scope="col">Producto</th>
            <th scope="col">Talla</th>
            <th scope="col">Marca</th>
            <th scope="col">color</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor unitario</th>
            <th>Total</th>
            <th scope="col">Opciones</th>

          </tr>
        </thead>
        <tbody>
          {% for detalle in detalles %}
          {% if detalle.estado == "Abierta" %}

          <tr>
            <td class="dtr-control sorting_1">{{detalle.producto.nombre}}</td>
            <td class="dtr-control sorting_1">{{detalle.producto.talla}}</td>
            <td class="dtr-control sorting_1">{{detalle.producto.marca}}</td>
            <td class="dtr-control sorting_1">{{detalle.producto.color}}</td>
            <td class="dt-body-right dtr-hidden">{{detalle.cantidad_detalle}}</td>
            <td class="dt-body-right dtr-hidden">{{detalle.estado}}</td>
            <td class="dt-body-right dtr-hidden">{{detalle.precioX}}</td>
            <td class="dt-body-right dtr-hidden">{{detalle.total}}</td>
            <td><a href="{% url 'detalle_eliminar_estado' pk=detalle.id  cantidad=detalle.cantidad_detalle %}"><svg
                  xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="opcionesTabla bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>

                {% endif %}
            </td>
          </tr>
          
          {% endfor %}
          
        </tbody>
        
      </table>
      <h2>TOTAL:  {{total}}</h2>
      
    </div>
  </div>

</div>

{% endblock contenido %}