{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block tittle %} Crear factura {% endblock tittle %}
{% load static %}
{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<main class="mainU">
  <div class="contenedorMainU mx-auto">
      <div class="col-md-1  ">
            <a href=" {% url 'factura-tfactura' %}" class="regresar-t btn d-flex justify-content-center " style=" margin-top: 25px; margin-bottom: 25px; width: 65px; "  alt="Marca"  title="Regresar">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class=" opcionesTabla bi bi-arrow-left-square-fill  " viewBox="0 0 16 16">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                </svg>
            </a>
        </div>
    <div class="navTabla">
      <div class="d-flex flex-row w-100 breadNav">
        <div>
          <p class="txtMainI">Facturas anuladas</p>
        </div>
        <div>
          <nav aria-label="breadcrumb ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'factura-tfactura' %}">Facturas anuladas</a></li>
          </ol>
          </nav>
        </div>
      </div>
      <div class=" tablaProducto">
        <table class="table bg-white table-bordered results" id="tabla">
          <thead class="theadtable">
            <tr class="text-white">
              <th scope="col">ID</th>
              <th scope="col">Tipo de usuario</th>
              <th scope="col">Nombre de usuario</th>
              <th scope="col">Fecha</th>
              <th scoper="col">Neto a pagar</th>
              <th scope="col">Tipo de factura</th> 
             
            </tr>
          </thead>
          <tbody>
            {% for tfactura in tfacturas %}
            {% if not tfactura.estado == "Anulada" %}
            {% if tfactura.decision == "Inactivo" %}
            <tr>
              <td>{{tfactura.id}}</td>
              <td>{{tfactura.rol}}</td>
              <td>{{tfactura.usuario}}</td>
              <td>{{tfactura.fecha}}</td>
              <td>{{tfactura.neto_pagar}}</td>
              <td>{{tfactura.tipofactura}}</td>
  
              {% endif %}
  
              {% endif %} 
              </td>
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div> 
    </div>
  </main>
  
  </html>
  
  {% endblock contenido %}
  
  