{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block tittle %} Crear factura {% endblock tittle %}
{% load static %}
{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<main class="mainU">
  <div class="contenedorMainU mx-auto">
    <div class="navTabla">
      <div class="d-flex flex-row w-100 breadNav">
        <div>
          <p class="txtMainI">Factura</p>
        </div>
        <div>
          <nav aria-label="breadcrumb ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'factura-tfactura' %}">Factura</a></li>
          </ol>
          </nav>
        </div>
      </div>
      <div class=" tablaProducto">
      
        <table class="table bg-white table-bordered results" id="tabla">
          <thead class="theadtable">
            <tr class="text-white">
              <th scope="col">ID</th>
              <th scope="col">Tipo de usuario</th>
              <th scope="col">Nombre de usuario</th>
              <th scope="col">Fecha</th>
              <th scoper="col">Neto a pagar</th>
              <th scope="col">Tipo de factura</th> 
             
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for tfactura in tfacturas %}
            {% if not tfactura.estado == "Anulada" %}
            {% if tfactura.decision == "Activo" %}
            <tr>
              <td>{{tfactura.id}}</td>
              <td>{{tfactura.rol}}</td>
              <td>{{tfactura.usuario}}</td>
              <td>{{tfactura.fecha}}</td>
              <td>{{tfactura.neto_pagar}}</td>
              <td>{{tfactura.tipofactura}}</td>
              {% if tfactura.estado == "Abierta" %}
                <td><a href="{% url 'factura-detalle' tfactura.id  %}"><img alt="Agregar productos" src="{% static 'img/png/plus-circle-fill.svg' %}" width="20" title="Agregar productos"></a>

                  <a href="{% url 'factura_estado' tfactura.id tfactura.estado%}"><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="opcionesTabla bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    <title> Eliminar factura </title>  
                  </svg>
              {% else %}
                  <td><a href="{% url 'factura-verfactura' tfactura.id %}"><svg src="img/png/eye.svg"   fill="currentColor" class=" opcionesTabla bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    <title> Ver detalles de factura </title>  
                  </svg></a> 
  
                  <a href="{% url 'factura_eliminarA' tfactura.id%}"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="opcionesTabla bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    <title> Anular factura </title>  
                  </svg>
  
                {% endif %}
  
              {% endif %}
  
              {% endif %} 
              </td>
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="iconosOpcion">
          <div class="agreproducto">
            <a href="{% url 'factura-factura' %}"><img class="iconos-tabla" alt="Agregar factura" src="{% static 'img/png/plus-circle-fill.svg' %}" title="Agregar factura"></a>
            <p>Agregar<br>factura</p>
          </div> 
          <div class="agreproducto" title="Facturas anuladas">
          <a href="{% url 'factura-facturai' %}"><svg xmlns="http://www.w3.org/2000/svg"class="iconos-tabla" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16"  >
            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z title=" />
          </svg></a> 
          <p>Facturas<br>anuladas</p>
        </div>
         </div>
      </div> 
    </div>
  </main>
  
  </html>
  
  {% endblock contenido %}
  
  