{% extends 'partials/body.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}



<div class="padding row justify-content-center">
  <div class="derecha width-botton p-3 col-md-2 ">
      <a class="width-a" href=" {% url 'factura-tfactura' %}" class=" btn d-flex justify-content-center " alt="factura"  title="Regresar">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="devolver opcionesTabla bi bi-arrow-left-square-fill  " viewBox="0 0 16 16">
              <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
              </svg>
      </a>
  </div>
  <div class="col-md-6">
      <h1 class="text-center ver-user font-4em">Datos de la factura</h1>
  </div>
  
</div>
<div class="column ver-d p-5 ">
    <div class="col-md-8 p-4 bg-tabla ver-Detalle mx-auto">
        <p class="txtMainI">Detalle factura  {{factura.id}}</p>
    <table class="table bg-white table-bordered results" id="tabla">
      <thead class="theadtable">
        <tr class="text-white">
          <th scope="col">Fecha</th>
          <th scope="col">Tipo usuario</th>
          <th scope="col">Usuario</th> 
          <th scope="col">Tipo de factura</th> 
          <th scope="col">Producto</th>            
          <th scope="col">Talla</th>   
          <th scope="col">Marca</th>    
          <th scope="col">Color</th>           
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for detalle in detalles %} 
        <tr>
          <td class="dtr-control sorting_1">{{factura.fecha}}</td>
          <td class="dtr-control sorting_1">{{factura.usuario.Unombre}}</td>
          <td class="dtr-control sorting_1">{{factura.usuario.rol}}</td>
          <td class="dtr-control sorting_1">{{factura.tipofactura}}</td>
          <td class="dtr-control sorting_1">{{detalle.producto.nombre}}</td>
          <td class="dtr-control sorting_1">{{detalle.producto.talla}}</td>
          <td class="dtr-control sorting_1">{{detalle.producto.marca}}</td>
          <td class="dtr-control sorting_1">{{detalle.producto.color}}</td>
          <td class="dt-body-right dtr-hidden">{{detalle.cantidad_detalle}}</td>
          <td class="dt-body-right dtr-hidden">{{detalle.producto.precio }}</td>
          <td class="dt-body-right dtr-hidden">{{detalle.total }}</td>
         
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2 >Total={{factura.neto_pagar}}</h2>
    </div>
    
</div>


   


{% endblock contenido %}

