{% extends 'partials/body.html' %} {% load static %} {% block contenido %}
<main class="main">
  <div class="cuadroH2 tituloNav mx-auto">
    <h1 class="video-ayuda my-5">Modulo de ayuda</h1>
  </div>
  <div class="container p-5 ">

    <div class="row container-video-padre">
      <h2 class=" text-center my-2 video-ayuda1" >Manual de usuario</h2>
    <div class="container-video mx-0 ">
      <a >Dar click en el icono para <br> descargar manual de usuario <br> </a>
      <div class="my-2">
        <a href="https://drive.google.com/file/d/1ludYJ9Ed4jGjy-ZMT7g2l1aHThcRRaP8/view?usp=sharing"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
          <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
          <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
        </svg>
      </div>
      
  </div>
  </div>
</main>
{% endblock %}