{% extends 'partials/body.html' %} {% load static %} {% block contenido %}
<main class="main">
  <div class="cuadroH2 tituloNav mx-auto">
    <h1 class="video-ayuda my-5">Modulo de ayuda</h1>
    <div class="cuadroHI3-2">
      <nav>
        <ul >
          <li><a class="bdnavizquierda" href="{% url 'ayudainicio' %}">Usuario</a></li>    
          <li><a class="bdnavderecha" href="{% url 'ayudausuario' %}">Tecnico</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container p-5 ">

    <div class="row container-video-padre">
      <h2 class=" text-center my-2 video-ayuda1" >Factura</h2>
      <div class="container-video col-md-6">
        <h2 class="texto-video">1°.¿Cómo agrego una factura?</h2>
        <iframe  class="videos"  src="https://www.youtube.com/embed/c1vBdOAUHLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="container-video col-md-6" >
        <h2 class="texto-video" >2°.¿Cómo anulo una factura?</h2>
        <iframe  class="videos"  src="https://www.youtube.com/embed/8GRbsLD1wEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="container-video col-md-6">
        <h2 class="texto-video" >3°.¿Cómo cierro una factura?</h2>
        <iframe  class="videos"  src="https://www.youtube.com/embed/gka6MQbvZlw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="container-video col-md-6" >
        <h2 class="texto-video">4°.¿Cómo elimino productos de una factura?</h2>
        <iframe  class="videos"  src="https://www.youtube.com/embed/zRmVYjEGi-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="container-video col-md-6">
        <h2 class="texto-video">5°.¿Cómo una elimino una factura abierta?</h2>
        <iframe  class="videos"  src="https://www.youtube.com/embed/m1vZfdjGj5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="container-video col-md-6">
        <h2 class="texto-video">6°.¿Cómo veo el detalle de una factura?</h2>
        <iframe class="videos" src="https://www.youtube.com/embed/Hr0xNsDUlZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  
    </div>
  </div>
</main>
{% endblock %}