{% extends 'partials/bodyindex.html' %} {% load static %} {% block contenido %}
<main class="main">
  <div class="cuadroH2 tituloNav mx-auto">
    <h1 class="video-ayuda my-5">Modulo de ayuda</h1>
    
  </div>
  <div class="container p-5 ">
    
    <div class="row container-video-padre">
      <h2 class=" text-center my-2 video-ayuda1" >Manuales</h2>
      <div class="container-video col-md-6">
        <a href="https://drive.google.com/file/d/1513V9PlHkoeRjKK6rKGw8v5JqSCvQ2Lr/view?usp=sharing">Descargar manual tecnico <br> </a>
    </div>
    <div class="container-video col-md-6">
      <a href="https://drive.google.com/file/d/1ludYJ9Ed4jGjy-ZMT7g2l1aHThcRRaP8/view?usp=sharing">Descargar manual de usuario <br> </a>
  </div>
    </div>
  </div>
</main>
{% endblock %}