{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %} Equipo {% endblock title %}
{% block contenido %}

    <div class="d-flex flex-row mx-auto formularioProducto container ">
        
        <div class="d-flex flex-row  mx-auto  ">
            <div class="derecha width-botton">
                <a class="width-a" href=" {% url 'producto-producto' %}" class="btn d-flex justify-content-center " alt="Marca"  title="Regresar">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="devolver opcionesTabla bi bi-arrow-left-square-fill  " viewBox="0 0 16 16" >
                        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                        </svg>
                </a>
            </div>
            <div class="my-5 fondoFormulario ">
                
                
                <div class="container">

                <div >
                    <h4>Agregar producto</h4>
                <form action="" method="POST">
                    <div id="div_id_rol" class="mb-3"> 
                        <label for="id_rol" class="form-label requiredField">Rol<span class="asteriskField">*</span></label> 
                            <select  name="rol" class="select form-select " required="" id="select1"> 
                                
                                <option selected disabled="true" >--- Seleccione el rol ---</option>
                                {% for ro in  rol %}
                                <option  value="{{ro.Rid}}" >{{ro.Rnombre}}</option>
                                {% endfor  %}
                                
                            </select>
                        </div>
    
                        <div id="div_id_usuario" class="mb-3">
                            <label for="id_usuario" class="form-label requiredField">Nombre<span class="asteriskField">*</span></label> 
                            <select name="usuario" class="select form-select " required="" id="select2"> 
                                    
                                <option selected disabled="true">--- Seleccione el usuario ---</option>    
                                {% for items in usuario %}
                                <option  data-index-number="{{items.rol_id}}|{{items.estado}}" value="{{items.Uid}}">{{items.Unombre}}</option>
                                {% endfor %}
    
                            </select>
                        </div>
                    </div>
                    
                    {% csrf_token %}
                    {{form|crispy}}

                    <button class="btn btn-primary my-3" type="button" value="Agregar producto" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="40"  fill="currentColor" class="bi bi-hdd" viewBox="0 0 16 16">
                    <path d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                    <path d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0 .276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                    </svg> <br >Guardar
                    </button>

                    <div class="conainer p-3" data-bs-toggle="modal">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">           
                                        <button type="button" class="btn-close btn-btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class=" text-center" id="exampleModalLabel">Confirmar</h5>
                                        <h6 class="modal-title" id="exampleModalLabel">¿Desea guardar?</h6>
                                    </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" id="liveToastBtnError" data-bs-dismiss="modal" >No</button>
                                        <button type="submit" class="btn btn-success" id="liveToastBtnExito" data-bs-dismiss="modal" >Si</button>    
                                    </div>
                                    <div aria-live="polite" aria-atomic="true" class="position-relative">
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock contenido %}